<section class="container-fluid mb-3" ng-controller="DashboardCtrlexpert">
    <div class="row mt-3">
        <div class="col-md-4 text-center"><h1>Calendar</h1></div>
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <a href="" ng-click="logOut()" class="btn btn-success btn-md mt-1 ml-1">Log Out</a>
        </div>
    </div>

    <div class="col-md-12 jumbotron" >col-md-12
        <div class="row">
            <div class="col-md-2" style="height: 55%; background-color: #00bfff">
                <img id="img_menu" src="images/doctor-dog.jpg">
                <div class="menu">
                    <h3 class="mt-3 ml-5" >Centre</h3>
                    <a class="mt-4" href="#!/dashboardExpert">Chart</a>
                    <a class="mt-4" href="">Chat</a>
                    <a class="mt-4" href="#!/expert">Form</a>
                    <a class="mt-4" href="#!/calendar">Calendar</a>
                </div>
                <div class="menu" style="margin-top: 140%; margin-left: 40%">
                    <a class="mt-1" href="#!/">Home</a>
                </div>
            </div>

            <div  class="col-md-10 d-flex">

                <div class="col-md-10">

                    <div id="chartContainer" style="height: 430px; width: 120%;"></div>
                    <!-- <div id="chartContainerTwo" style="height: 300px; width: 100%;"></div>  -->

                </div>
            </div>
        </div>
    </div>
    </div>
</section>