<div class="jumbotron text-center" ng-controller = "ForgotPasswordPController">
    <form action="">
       <div ng-show="show"><input type="email" ng-model="username">
           <p style="color:red"> {{valid.usernameError}}</p>
           <br>
           <button ng-click="sendEmail()">SendEmail</button>
           Enter your email</div>
        <div ng-show="hide"><input type="password" ng-model="password">
            <button ng-click="sendPassword()">SendPassword</button>
            Enter your password</div>
    </form>

</div>