<section class="" ng-controller = "HomeController" id="href" style="">
    <div class="text-center " id="dash">
        <div style="display: flex; justify-content: center" class="row">
                <i class="fa fa-hospital-o mt-3" aria-hidden="true" style="font-size: 24px; color: #00bfff;"></i>
                <h1 class="ml-3">Home Page</h1>
        </div>
       
        <div class="col-md-12 jumbotron" id="href1">
            <div class="col-md-12 bg-white middle">
                <div class="col-md-4 mt-5 ml-1 small">
                    <a class="" href="#!/centre">Centre</a>
                </div>
                <div class="col-md-4 mt-5 ml-1 small">
                    <a href="#!/expert">Expert</a>
                </div>
            </div>
            <div class="col-md-12 bg-white middle mt-1">
                <div class="col-md-4 mb-5 ml-1 small">
                    <a href="#!/patient">Patient</a>
                </div>
                <div class="col-md-4 mb-5 ml-1 small">
                    <a href="#!/patient">Mrnrger</a>
                </div>
            </div>
        </div>
    </div>
</section>
