<div class="jumbotron" ng-controller = "singleExpertController">
    <div class="row">
        <div class="col-md-6">
            <img src="./images/experts/{{ single_experts.image}}" style="width: 200px;height: 180px">
        </div>
        <div class="col-md-6">
            <p>{{single_experts.firstname}}</p>
            <p>{{single_experts.lastname}}</p>

            <p>{{single_experts.username}}</p>
            <!--<p>{{single_experts.workPlace}}</p>-->
            <p>{{single_experts.address}}</p>
            <p>{{single_experts.cell}}</p>
            <p>{{single_experts.phone}}</p>
            <p>{{single_experts.profession}}</p>
            <p>{{d.centreName}}</p>
        </div>
    </div>

</div>
