<div class="jumbotron text-center" ng-controller = "singlePatientController">
    <img src="./images/patients/{{ single_patient.image}}" style="width: 180px;height: 180px">
    <!--<p>{{single_patient.fullname}}</p>-->
    <!--<p>{{single_patient.lastname}}</p>-->




<h1>PetsName:{{single_patient.petsName}}</h1>
<p>Animals:{{single_patient.animals}}</p>
<p>Birthday:{{single_patient.birthday}}</p>
<p>Ownername:{{single_patient.ownername}}</p>
<p>Phone:{{single_patient.phone}}</p>
<p>Address:{{single_patient.address}}</p>
<p>Username:{{single_patient.username}}</p>
</div>