<div class="jumbotron text-center" ng-controller = "UpdateCenterController">
    <div id="expert-form" class="jumbotron text-center">
        <div class="col-sm-12 col-md-offset-2 text-center">
            <form>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Clinical Name</label>
                        <!-- BIND THIS VALUE TO centre IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="Enter name of centre" ng-model="centre.name" ng-value="name">
                        <!--<span class="err" style="color:red">{{errors.nameErr}}</span>-->
                        <!--{{obj.centreName}}-->
                    </div>

                    <div class="form-group col-md-6">
                        <label>Owner name</label>
                        <input type="text" class="form-control input-lg text-center" placeholder="Enter owner's name of centre" ng-model="centre.owner" ng-value="owner">
                        <!--<span class="err" style="color: red">{{errors.ownerErr}}</span>-->
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="text" class="form-control input-lg text-center" placeholder="example@gmail.com" ng-model="centre.email" ng-value="email">
                        <!--<span class="err" style="color: red">{{errors.emailErr}}</span>-->
                    </div>

                    <div class="form-group col-md-6">
                        <label>Owner's Email</label>
                        <input type="text" class="form-control input-lg text-center" placeholder="Enter owner's email of centre" ng-model="centre.ownerEmail" ng-value="ownerEmail">
                        <!--<span class="err" style="color: red">{{errors.ownerEmailErr}}</span>-->
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Password</label>
                        <input type="text" class="form-control input-lg text-center" placeholder="Enter password of centre" ng-model="centre.password" ng-value="password">
                        <!--<span class="err" style="color: red">{{errors.passwordErr}}</span>-->
                    </div>

                    <div class="form-group col-md-6">
                        <label>Address</label>
                        <input type="text" class="form-control input-lg text-center" placeholder="Enter address of centre" ng-model="centre.address" ng-value="address">
                        <!--<span class="err" style="color: red">{{errors.addressErr}}</span>-->
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Phone of centre</label>
                        <input type="text" class="form-control input-lg text-center" placeholder="Enter phone of centre" ng-model="centre.phone" ng-value="phone">
                        <!--<span class="err" style="color: red">{{errors.phoneErr}}</span>-->
                    </div>
                    <div class="form-group col-md-6">
                        <label>Phone</label>
                        <input type="text" class="form-control input-lg text-center" placeholder="Enter owner's phone of centre" ng-model="centre.ownerPhone" ng-value="ownerPhone">
                        <!--<span class="err" style="color: red">{{errors.ownerPhoneErr}}</span>-->
                    </div>
                </div>
                <label>Picture</label>
                <div class="form-group">
                    <input type="file"  id="centreImage" class="form-control input-md text-center" name="file_upload" ng-value="null">
                    <!--<span class="err" style="color: red">{{errors.originalnameErr}}</span>-->
                </div>
                <button type="button" class="btn btn-md mt-1 "  ng-click="updateCenters()" style="background-color: #00bfff">Send</button>
            </form>
        </div>
    </div>

</div>